In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
#page = driver.get("https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa")

page_url = 'https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa'
page = requests.get(page_url)

In [9]:
content = page.content
soup = BeautifulSoup(content, features='html.parser')

span =soup.find_all('span')
print(len(span))

264

In [10]:
spans = soup.find_all("span", class_="css-rmqm02 eclomwz0")
addreses = soup.find_all("span", class_="css-17o293g es62z2j9")
spans[:4]

[<span class="css-rmqm02 eclomwz0">2 799 000 zł</span>,
 <span class="css-rmqm02 eclomwz0"><strong>20 581 zł/m²</strong></span>,
 <span class="css-rmqm02 eclomwz0">5 pokoi</span>,
 <span class="css-rmqm02 eclomwz0">136 m²</span>]

In [11]:
addreses

[<span class="css-17o293g es62z2j9">Warszawa, Ochota</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ochota, ul. Józefa Siemieńskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Sokołowska 9</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Muranów, Stawki</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Ulrychów, Redutowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Żoliborz, Ludwika Rydygiera</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Konstancińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Sielce, Sułkowicka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, ul. Batystowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Żoliborz, Stary Żoliborz, WSM Kolonia VI</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Kołacińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bemowo, ul. Wieśniacza</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Wspólna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Włochy, Astronautów</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Żerań, Marywilska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Tarchomin, Atutowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, Tarchomin, ul. Klasyków</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, Edwarda Habicha 14</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Śródmieście Południowe, Aleje Ujazdowskie</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Bielany, Stare Bielany</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Domaniewska 47</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ochota, Władysława Korotyńskiego</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wilanów, Sarmacka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Gumińska</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Balladyny</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Wola, Obozowa</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Białołęka, ul. Ceramiczna</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Śródmieście, Śródmieście Południowe, Złota</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Mokotów, Dolny Mokotów, ul. Zwierzyniecka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursus, ul. Magnacka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Praga-Północ, Nowa Praga, Szwedzka</span>,
 <span class="css-17o293g es62z2j9">Warszawa, Ursynów, Roalda Amundsena</span>]

In [12]:
spans[3:9]

[<span class="css-rmqm02 eclomwz0">136 m²</span>,
 <span class="css-rmqm02 eclomwz0">360 000 zł</span>,
 <span class="css-rmqm02 eclomwz0"><strong>13 333 zł/m²</strong></span>,
 <span class="css-rmqm02 eclomwz0">1 pokój</span>,
 <span class="css-rmqm02 eclomwz0">27 m²</span>,
 <span class="css-rmqm02 eclomwz0">850 000 zł</span>]

In [13]:
price = spans[::4]
rooms = spans[2::4]
space = spans[3::4]

In [14]:
for p in price:
    print(str(p))

<span class="css-rmqm02 eclomwz0">2 799 000 zł</span>
<span class="css-rmqm02 eclomwz0">360 000 zł</span>
<span class="css-rmqm02 eclomwz0">850 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 349 000 zł</span>
<span class="css-rmqm02 eclomwz0">499 900 zł</span>
<span class="css-rmqm02 eclomwz0">1 087 210 zł</span>
<span class="css-rmqm02 eclomwz0">335 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 645 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 134 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 253 400 zł</span>
<span class="css-rmqm02 eclomwz0">1 639 100 zł</span>
<span class="css-rmqm02 eclomwz0">2 144 700 zł</span>
<span class="css-rmqm02 eclomwz0">995 000 zł</span>
<span class="css-rmqm02 eclomwz0">300 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">1 050 000 zł</span>
<span class="css-rmqm02 eclomwz0">755 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 060 000 zł</span>
<span class="css-rmqm02 eclomwz0">459 000 zł</span>
<span class="css-rmqm02 eclomwz0">545 000 zł</span>
<span class="css-rmqm02 eclomwz0">589 000 zł</span>
<span class="css-rmqm02 eclomwz0">2 690 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">685 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">785 000 zł</span>
<span class="css-rmqm02 eclomwz0">1 199 000 zł</span>
<span class="css-rmqm02 eclomwz0">719 900 zł</span>
<span class="css-rmqm02 eclomwz0">435 000 zł</span>
<span class="css-rmqm02 eclomwz0">338 000 zł</span>
<span class="css-rmqm02 eclomwz0">Zapytaj o cenę</span>
<span class="css-rmqm02 eclomwz0">911 125 zł</span>
<span class="css-rmqm02 eclomwz0">950 000 zł</span>
<span class="css-rmqm02 eclomwz0">754 000 zł</span>
<span class="css-rmqm02 eclomwz0">800 000 zł</span>
<span class="css-rmqm02 eclomwz0">599 000 zł</span>

In [15]:
import re

def clean(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext  = re.sub(cleanr, '', str(raw_html))
    cleantext= re.sub("[^0-9]", "", cleantext)
    return cleantext 

cleaned_price = []

for p in price:
    cleaned = clean(p)
    cleaned_price.append(cleaned)
    
cleaned_price

['2799000',
 '360000',
 '850000',
 '1349000',
 '499900',
 '1087210',
 '335000',
 '1645000',
 '1134000',
 '1253400',
 '1639100',
 '2144700',
 '995000',
 '300000',
 '',
 '',
 '',
 '1050000',
 '755000',
 '1060000',
 '459000',
 '545000',
 '589000',
 '2690000',
 '',
 '',
 '685000',
 '',
 '785000',
 '1199000',
 '719900',
 '435000',
 '338000',
 '',
 '911125',
 '950000',
 '754000',
 '800000',
 '599000']

In [22]:
[clean(p) for p in price]

['2799000',
 '360000',
 '850000',
 '1349000',
 '499900',
 '1087210',
 '335000',
 '1645000',
 '1134000',
 '1253400',
 '1639100',
 '2144700',
 '995000',
 '300000',
 '',
 '',
 '',
 '1050000',
 '755000',
 '1060000',
 '459000',
 '545000',
 '589000',
 '2690000',
 '',
 '',
 '685000',
 '',
 '785000',
 '1199000',
 '719900',
 '435000',
 '338000',
 '',
 '911125',
 '950000',
 '754000',
 '800000',
 '599000']

In [16]:
cleaned_rooms =[]

for r in rooms:
    cleaned = clean(r)
    cleaned_rooms.append(cleaned)
cleaned_rooms

['5',
 '1',
 '2',
 '2',
 '2',
 '3',
 '1',
 '2',
 '2',
 '3',
 '4',
 '5',
 '2',
 '1',
 '4',
 '3',
 '2',
 '2',
 '2',
 '4',
 '2',
 '2',
 '2',
 '5',
 '3',
 '4',
 '3',
 '2',
 '4',
 '3',
 '2',
 '1',
 '1',
 '2',
 '3',
 '3',
 '3',
 '2',
 '2']

In [17]:
space

[<span class="css-rmqm02 eclomwz0">136 m²</span>,
 <span class="css-rmqm02 eclomwz0">27 m²</span>,
 <span class="css-rmqm02 eclomwz0">52 m²</span>,
 <span class="css-rmqm02 eclomwz0">63.13 m²</span>,
 <span class="css-rmqm02 eclomwz0">38.46 m²</span>,
 <span class="css-rmqm02 eclomwz0">57.8 m²</span>,
 <span class="css-rmqm02 eclomwz0">21 m²</span>,
 <span class="css-rmqm02 eclomwz0">71 m²</span>,
 <span class="css-rmqm02 eclomwz0">52.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">59.79 m²</span>,
 <span class="css-rmqm02 eclomwz0">95.91 m²</span>,
 <span class="css-rmqm02 eclomwz0">123.05 m²</span>,
 <span class="css-rmqm02 eclomwz0">50.4 m²</span>,
 <span class="css-rmqm02 eclomwz0">36.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">92.9 m²</span>,
 <span class="css-rmqm02 eclomwz0">58.34 m²</span>,
 <span class="css-rmqm02 eclomwz0">44.57 m²</span>,
 <span class="css-rmqm02 eclomwz0">73 m²</span>,
 <span class="css-rmqm02 eclomwz0">63.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.42 m²</span>,
 <span class="css-rmqm02 eclomwz0">46 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>,
 <span class="css-rmqm02 eclomwz0">40.35 m²</span>,
 <span class="css-rmqm02 eclomwz0">131 m²</span>,
 <span class="css-rmqm02 eclomwz0">54.33 m²</span>,
 <span class="css-rmqm02 eclomwz0">81.64 m²</span>,
 <span class="css-rmqm02 eclomwz0">55.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">42.37 m²</span>,
 <span class="css-rmqm02 eclomwz0">71.2 m²</span>,
 <span class="css-rmqm02 eclomwz0">104.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">40 m²</span>,
 <span class="css-rmqm02 eclomwz0">25 m²</span>,
 <span class="css-rmqm02 eclomwz0">28 m²</span>,
 <span class="css-rmqm02 eclomwz0">47.99 m²</span>,
 <span class="css-rmqm02 eclomwz0">49.25 m²</span>,
 <span class="css-rmqm02 eclomwz0">69.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">64.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">38.48 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>]

In [18]:
cleaned_space =[]

for s in space:
    s = str(s)
    cleaned_space.append(s[34:40].replace('m','').replace('<',"").replace('²','').replace(' ',''))

cleaned_space

['136',
 '27',
 '52',
 '63.13',
 '38.46',
 '57.8',
 '21',
 '71',
 '52.7',
 '59.79',
 '95.91',
 '123.05',
 '50.4',
 '36.5',
 '92.9',
 '58.34',
 '44.57',
 '73',
 '63.5',
 '88.42',
 '46',
 '50',
 '40.35',
 '131',
 '54.33',
 '81.64',
 '55.5',
 '42.37',
 '71.2',
 '104.73',
 '40',
 '25',
 '28',
 '47.99',
 '49.25',
 '69.7',
 '64.7',
 '38.48',
 '50']

In [19]:
df = pd.DataFrame({'Address': addreses, 'Price': cleaned_price, 'Space': cleaned_space, 'Rooms': cleaned_rooms})
df

                                              Address    Price   Space Rooms
0                                  [Warszawa, Ochota]  2799000     136     5
1        [Warszawa, Ochota, ul. Józefa Siemieńskiego]   360000      27     1
2                      [Warszawa, Wola, Sokołowska 9]   850000      52     2
3                   [Warszawa, Wola, Muranów, Stawki]  1349000   63.13     2
4                [Warszawa, Wola, Ulrychów, Redutowa]   499900   38.46     2
5             [Warszawa, Żoliborz, Ludwika Rydygiera]  1087210    57.8     3
6                  [Warszawa, Mokotów, Konstancińska]   335000      21     1
7             [Warszawa, Mokotów, Sielce, Sułkowicka]  1645000      71     2
8                  [Warszawa, Ursynów, ul. Batystowa]  1134000    52.7     2
9                  [Warszawa, Ursynów, ul. Batystowa]  1253400   59.79     3
10                 [Warszawa, Ursynów, ul. Batystowa]  1639100   95.91     4
11                 [Warszawa, Ursynów, ul. Batystowa]  2144700  123.05     5
12  [Warszawa, Żoliborz, Stary Żoliborz, WSM Kolon...   995000    50.4     2
13              [Warszawa, Białołęka, ul. Kołacińska]   300000    36.5     1
14                 [Warszawa, Bemowo, ul. Wieśniacza]             92.9     4
15                 [Warszawa, Bemowo, ul. Wieśniacza]            58.34     3
16                 [Warszawa, Bemowo, ul. Wieśniacza]            44.57     2
17                   [Warszawa, Śródmieście, Wspólna]  1050000      73     2
18                    [Warszawa, Włochy, Astronautów]   755000    63.5     2
19           [Warszawa, Białołęka, Żerań, Marywilska]  1060000   88.42     4
20          [Warszawa, Białołęka, Tarchomin, Atutowa]   459000      46     2
21     [Warszawa, Białołęka, Tarchomin, ul. Klasyków]   545000      50     2
22              [Warszawa, Ursus, Edwarda Habicha 14]   589000   40.35     2
23  [Warszawa, Śródmieście, Śródmieście Południowe...  2690000     131     5
24              [Warszawa, Białołęka, ul. Ceramiczna]            54.33     3
25              [Warszawa, Białołęka, ul. Ceramiczna]            81.64     4
26                 [Warszawa, Bielany, Stare Bielany]   685000    55.5     3
27                [Warszawa, Mokotów, Domaniewska 47]            42.37     2
28       [Warszawa, Ochota, Władysława Korotyńskiego]   785000    71.2     4
29                      [Warszawa, Wilanów, Sarmacka]  1199000  104.73     3
30                         [Warszawa, Wola, Gumińska]   719900      40     2
31                     [Warszawa, Mokotów, Balladyny]   435000      25     1
32                          [Warszawa, Wola, Obozowa]   338000      28     1
33              [Warszawa, Białołęka, ul. Ceramiczna]            47.99     2
34  [Warszawa, Śródmieście, Śródmieście Południowe...   911125   49.25     3
35  [Warszawa, Mokotów, Dolny Mokotów, ul. Zwierzy...   950000    69.7     3
36                    [Warszawa, Ursus, ul. Magnacka]   754000    64.7     3
37     [Warszawa, Praga-Północ, Nowa Praga, Szwedzka]   800000   38.48     2
38              [Warszawa, Ursynów, Roalda Amundsena]   599000      50     2

In [20]:
"https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page=" + str(1)

'https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page=1'

In [70]:
def cleaned_space(string):
    """_summary_

    Args:
        string (_type_): _description_

    Returns:
        _type_: _description_
    """
    s = str(string)
    return (s[34:40].replace('m','').replace('<',"").replace('²','').replace(' ','')) 

def clean_without_coma(raw_html):
   """clean numbers froim html 

   Args:
       raw_html (beautiful suoup object): _description_

   Returns:
       int: scrapped number
   """
   cleanr = re.compile('<.*?>')
   cleantext  = re.sub(cleanr, '', str(raw_html))
   cleantext= re.sub("[^0-9]", "", cleantext)
   return cleantext

In [72]:
addreses=[] #List of flats adresses
out_prices=[] #List house prices
out_space=[] #List of house space
out_rooms=[] #List of number of rooms in flat

page_url = "https://www.otodom.pl/pl/oferty/sprzedaz/mieszkanie/warszawa?page="

for number in range(10):
    page = requests.get(page_url +str(number))
    content = page.content
    soup = BeautifulSoup(content, features='html.parser')

    spans = soup.find_all("span", class_="css-rmqm02 eclomwz0")
    addres = soup.find_all("span", class_="css-17o293g es62z2j9")
    price = spans[::4]
    rooms = spans[2::4]
    space = spans[3::4]

    clean_price = [clean(p) for p in price]
    clean_rooms = [clean(r) for r in rooms]
    clean_space = [cleaned_space(s) for s in space]

    addreses += addres   
    out_prices += clean_price
    out_space += clean_space
    out_rooms += clean_rooms

In [71]:
cleaned_space(space[0])

'37.5'

In [52]:
space

[<span class="css-rmqm02 eclomwz0">56 m²</span>,
 <span class="css-rmqm02 eclomwz0">27.6 m²</span>,
 <span class="css-rmqm02 eclomwz0">46.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">62.77 m²</span>,
 <span class="css-rmqm02 eclomwz0">36.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">73 m²</span>,
 <span class="css-rmqm02 eclomwz0">63.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.42 m²</span>,
 <span class="css-rmqm02 eclomwz0">75.59 m²</span>,
 <span class="css-rmqm02 eclomwz0">67.69 m²</span>,
 <span class="css-rmqm02 eclomwz0">46 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>,
 <span class="css-rmqm02 eclomwz0">40.35 m²</span>,
 <span class="css-rmqm02 eclomwz0">87.09 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">71.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">64.3 m²</span>,
 <span class="css-rmqm02 eclomwz0">66.99 m²</span>,
 <span class="css-rmqm02 eclomwz0">131 m²</span>,
 <span class="css-rmqm02 eclomwz0">82.62 m²</span>,
 <span class="css-rmqm02 eclomwz0">83.66 m²</span>,
 <span class="css-rmqm02 eclomwz0">35.39 m²</span>,
 <span class="css-rmqm02 eclomwz0">55.5 m²</span>,
 <span class="css-rmqm02 eclomwz0">78.63 m²</span>,
 <span class="css-rmqm02 eclomwz0">42.37 m²</span>,
 <span class="css-rmqm02 eclomwz0">71.2 m²</span>,
 <span class="css-rmqm02 eclomwz0">104.73 m²</span>,
 <span class="css-rmqm02 eclomwz0">40 m²</span>,
 <span class="css-rmqm02 eclomwz0">25 m²</span>,
 <span class="css-rmqm02 eclomwz0">28 m²</span>,
 <span class="css-rmqm02 eclomwz0">49.25 m²</span>,
 <span class="css-rmqm02 eclomwz0">77.08 m²</span>,
 <span class="css-rmqm02 eclomwz0">69.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">88.59 m²</span>,
 <span class="css-rmqm02 eclomwz0">64.7 m²</span>,
 <span class="css-rmqm02 eclomwz0">38.48 m²</span>,
 <span class="css-rmqm02 eclomwz0">50 m²</span>,
 <span class="css-rmqm02 eclomwz0">32.26 m²</span>,
 <span class="css-rmqm02 eclomwz0">51 m²</span>]

In [73]:
clean_space

['24.5',
 '56.85',
 '69',
 '82.62',
 '41.5',
 '37.46',
 '41.55',
 '41.97',
 '63.13',
 '38.46',
 '70.62',
 '74.54',
 '79.57',
 '57.8',
 '21',
 '71',
 '92.9',
 '50.4',
 '62.77',
 '36.5',
 '73',
 '63.5',
 '88.42',
 '75.59',
 '67.69',
 '46',
 '50',
 '40.35',
 '87.09',
 '78.73',
 '71.73',
 '64.3',
 '66.99',
 '131',
 '82.62',
 '83.66',
 '35.39',
 '55.5',
 '78.63']

In [74]:
df = pd.DataFrame({'Address': addreses, 'Price': out_prices, 'Space': out_space, 'Rooms': out_rooms})
df.to_csv('listings.csv', index=False, encoding='utf-8')

In [75]:
df

                                               Address    Price  Space Rooms
0                [Warszawa, Wola, ul. Juliusza Ordona]   540000   26.2     1
1         [Warszawa, Praga-Północ, ul. Stefana Okrzei]   649000     38     2
2    [Warszawa, Mokotów, Pole Mokotowskie, ul. Biał...  2775000  123.7     4
3                [Warszawa, Bemowo, Jelonki, Karabeli]   590000   45.8     2
4               [Warszawa, Praga-Południe, Saska Kępa]   559000     47     3
..                                                 ...      ...    ...   ...
385              [Warszawa, Mokotów, ul. Bluszczańska]  1231038  82.62     4
386              [Warszawa, Wilanów, ul. Herbu Janina]   952376  83.66     4
387                 [Warszawa, Bemowo, ul. Babimojska]           35.39     2
388                 [Warszawa, Bielany, Stare Bielany]   685000   55.5     3
389              [Warszawa, Wilanów, ul. Herbu Janina]   921328  78.63     3

[390 rows x 4 columns]